button {
    color: var(--text-color);
    margin-left: 0.5rem;
}
h3 {
    display: inline-block;
    width: 10%;
}

.country-title {
    font-size: 2rem;
    margin-bottom: 0;
}
.country-container {
    margin-top: 0;
    background-color: var(--bg-color);
    padding: max(1rem, 5vh);
}
.border-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: min(100%, 576px);
    margin-bottom: 34vh;
}
.country-border {
    margin-left: min(5%, 10px);
    margin-right: min(5%, 10px);
    line-height: 3;
    background-color: var(--main-color);
    padding: 0.3rem 1.5rem;
    margin-top: 1vh;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.button-container {
    margin-top: 2.5vh;
    background-color: var(--main-color);
    display: block;
    width: min(35%, 200px);
    padding: 0.5rem;
    border-radius: 8px;
    margin-bottom: 5vh;
    cursor: pointer;
}
@media only screen and (min-width: 1440px) {
    .info-container {
        transform: translate(min(35vw, 505px), max(-350px, -38vh));
    }
}   